<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<section>
    <h1>課題２（実装）</h1>
    <p>ページの読み込みと同時に、ファーストパーティクッキーと、サードパーティクッキーが設定されるようなWEBサイトを作成してください</p>
    <h1>仕様</h1>
    <p>
        以下の仕様を満たすようなwebサービスを作成してください </p>
    <p> ドメイン（（例）hoge.com）にアクセスすると、何らかのページが表示される</p>
    <p>  ページ自体の内容はなんでも可</p>
    <p> かつ、クッキーが２つ保存される</p>
    <p> クッキー１</p>
    <p> domain=hoge.com</p>
    <p>  クッキー２</p>
    <p>  domain=xxxxxxxxx.com</p>
    <p>  （別ドメインならなんでもOK）</p>
    <p> 共通仕様</p>
    <p>name="hoge"など、値はなんでもOK</p>
    <p>httponly属性が付与されている</p>
    <p> ここは大事なポイントです！JavaScriptから生成するのではなく、サーバからのレスポンスでクッキーを生成してください</p>
    <h1>技術的な仕様</h1>
    <p>WEBサーバを作る場合は、node.jsとexpressで作成してみてください（以降の課題でもnode.jsを多用するため、扱いに慣れてもらいたいのです）</p>
    <p> ページを作る際の技術には特に指定がありません。何を使って作成いただいても構いません</p>
    <p> 強いて挙げるなら、expressのstatic file servingを使うと手軽にWEBページを作成して返せるので、手軽だと思います</p>
</section>
<section>
    <img src="https://0168a7352ab2.ngrok.io/cat.jpg" alt="cat">
</section>
</body>
</html>
